#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}