#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Rectangle_1 {
  position: absolute;
  width: 1280px;
  height: 70px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Image_2 {
  position: absolute;
  width: 216px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Button_1 {
  position: absolute;
  width: 112px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd #s-Image_1 {
  position: absolute;
  width: 841px;
  height: 880px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-359e20c3-cb1b-45fe-897f-a1e7f529c4bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}