#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ed5a823-6d29-4330-8976-6b054534f008 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}