#s-9e4edbeb-874e-4b67-8e87-60e53eedd58d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9e4edbeb-874e-4b67-8e87-60e53eedd58d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9e4edbeb-874e-4b67-8e87-60e53eedd58d #s-Image_1 {
  position: absolute;
  width: 1280px;
  height: 700px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9e4edbeb-874e-4b67-8e87-60e53eedd58d #s-Button_1 {
  position: absolute;
  width: 112px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18.0pt;
  font-family: 'Arial',Arial;
}
#s-9e4edbeb-874e-4b67-8e87-60e53eedd58d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9e4edbeb-874e-4b67-8e87-60e53eedd58d #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9e4edbeb-874e-4b67-8e87-60e53eedd58d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-9e4edbeb-874e-4b67-8e87-60e53eedd58d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}