#s-f16ac9c6-d0be-4c79-bb18-311004bbf7fd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f16ac9c6-d0be-4c79-bb18-311004bbf7fd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f16ac9c6-d0be-4c79-bb18-311004bbf7fd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f16ac9c6-d0be-4c79-bb18-311004bbf7fd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f16ac9c6-d0be-4c79-bb18-311004bbf7fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}